/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #000000, #1e3c72);
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image Compressor Full Page Box */
#image_compressor {
    background: rgba(255, 255, 255, 0.15); /* Semi-transparent */
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    width: 90%;
    height: 90vh;
    text-align: center;
    border: 5px solid rgba(255, 255, 255, 0.4); /* Visible border */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Heading */
#image_compressor h2 {
    color: #E4ECE9;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Label */
label {
    display: block;
    margin: 15px 0;
    font-size: 1.2rem;
    color: #E4ECE9;
}

/* Input Fields */
input[type="file"],
input[type="range"] {
    width: 80%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3); /* Light border */
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

/* Button */
button {
    background: linear-gradient(to right, #C46A24, #6E44D1);
    padding: 15px 30px;
    font-size: 1.3rem;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}

button:hover {
    background: linear-gradient(to right, #1BB52F, #D515B1);
}

/* Download Button */
#downloadLink {
    display: inline-block;
    padding: 15px 30px;
    background-color: #3498db;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    border: 3px solid #2980b9;
    border-radius: 10px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

#downloadLink:hover {
    background-color: #2980b9;
    border-color: #1c5d8d;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

/* Responsive Design */
@media (max-width: 768px) {
    #image_compressor {
        width: 95%;
        height: 95vh;
        padding: 30px;
    }

    h2 {
        font-size: 2rem;
    }

    button, #downloadLink {
        font-size: 1.2rem;
        padding: 12px 25px;
    }
}